modules = ["nodejs-24", "python-base-3.13", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.production]
JWT_KEY_ID = "alpha-chat-v1"
JWT_PUBLIC_KEY = "LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUZrd0V3WUhLb1pJemowQ0FRWUlLb1pJemowREFRY0RRZ0FFbzNDMEpsd09KNnBqNVpyei95ZGdTQnhLOE1XTwpsZ3lENTNQdkpVTjA5M3VZKzJhTmJuUHkzUUljN2pDRjJ6M1RDdE1hbVBmN3ZhRlNvZ1lOaXEzRmpnPT0KLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0t"
PHONE_HMAC_PEPPER = "2322a6207a5af3652e3cde48d56ecfd903b4c92c836a7b6da6d3e2a4fdba7761"
JWT_PRIVATE_KEY = "LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JR0hBZ0VBTUJNR0J5cUdTTTQ5QWdFR0NDcUdTTTQ5QXdFSEJHMHdhd0lCQVFRZ0c0T1ZuRmpFaHM0REU5YnkKS1dRS3RuVU81V05YditTMUZHRGE0Y0pMMHRXaFJBTkNBQVNqY0xRbVhBNG5xbVBsbXZQL0oyQklIRXJ3eFk2VwpESVBuYys4bFEzVDNlNWo3Wm8xdWMvTGRBaHp1TUlYYlBkTUsweHFZOS91OW9WS2lCZzJLcmNXTwotLS0tLUVORCBQUklWQVRFIEtFWS0tLS0t"

[userenv.development]
JWT_KEY_ID = "alpha-chat-v1"
JWT_PRIVATE_KEY = "LS0tLS1CRUdJTiBQUklWQVRFIEtFWS0tLS0tCk1JR0hBZ0VBTUJNR0J5cUdTTTQ5QWdFR0NDcUdTTTQ5QXdFSEJHMHdhd0lCQVFRZ0c0T1ZuRmpFaHM0REU5YnkKS1dRS3RuVU81V05YditTMUZHRGE0Y0pMMHRXaFJBTkNBQVNqY0xRbVhBNG5xbVBsbXZQL0oyQklIRXJ3eFk2VwpESVBuYys4bFEzVDNlNWo3Wm8xdWMvTGRBaHp1TUlYYlBkTUsweHFZOS91OW9WS2lCZzJLcmNXTwotLS0tLUVORCBQUklWQVRFIEtFWS0tLS0t"
JWT_PUBLIC_KEY = "LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUZrd0V3WUhLb1pJemowQ0FRWUlLb1pJemowREFRY0RRZ0FFbzNDMEpsd09KNnBqNVpyei95ZGdTQnhLOE1XTwpsZ3lENTNQdkpVTjA5M3VZKzJhTmJuUHkzUUljN2pDRjJ6M1RDdE1hbVBmN3ZhRlNvZ1lOaXEzRmpnPT0KLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0t"

[nix]
channel = "stable-25_05"
